<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <scriptsrc="https: //ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
            integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

        <link rel="stylesheet" href="/css/style.css" />
        <script src="/js/script.js"></script>
        <title>My Notes</title>
</head>

<body>
    <nav>
        <div class="nav-div">
            <a class="brand-name" href="/notes">NOTES APP</a>
            <div class="regLog">
                <ul>
                    <li class="logout">
                        <a class="nav-link" href="/auth/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <input type="text" name="take-note" id="take-note" placeholder="Take a Note" onclick="onClick_take_note(this)" />

    <form action="/notes/add-note" method="POST" id="form">
        <input type="text" name="title" id="title" placeholder="Title" />
        <textarea onkeyup="textAreaAdjust(this)" name="desc" id="desc" placeholder="Description"></textarea>
        <button type="submit" class="btn" style="background-color: #3d3d3d" onclick="onCLick_submit(this)">Add
            Note</button>
    </form>

    {{#if message}}
    <button class="button" onclick="hide_div(this)">
        <div class="alert alert-success">
            {{message}}
        </div>
    </button>
    {{/if}}

    <div class="all-notes">
        {{#each result}}
        <div class="container" onclick="onclick_container(this)">
            <a href="/notes/edit-note/{{this._id}}" id="edit-icon"><i class="fas fa-edit"></i></a>
            <h4 id="note-heading">{{this.title }}</h4>
            <p id="note-desc">{{this.desc}} </p>

            <form action="/notes/delete-note/{{this._id}}?_method=DELETE" method="post" id="delete-form">
                <button type="submit" class="btn delete-btn"> Delete </button>
            </form>
        </div>
        {{/each}}
    </div>
</body>

</html>